<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework 配置节 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- 连接字符串配置 -->
  <connectionStrings>
    <add name="LoveEnglishConnectionString" connectionString="server=localhost;port=3306;user id=remote_user;password=123123;database=loveenglish;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <!-- Entity Framework 配置 -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <!-- SQL Server 提供程序 -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

      <!-- MySQL 提供程序 -->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.EntityFramework.MySqlEFProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>

  <!-- 数据提供程序工厂配置 -->
  <system.data>
    <DbProviderFactories>
      <!-- 移除可能存在的重复提供程序 -->
      <remove invariant="MySql.Data.MySqlClient" />

      <!-- 添加 MySQL 提供程序 -->
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.22.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <!-- 运行时程序集绑定 -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.0.0" newVersion="9.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


